.header {
    background-color: white;
    height: 48px;
    border-bottom-style: solid;
    border-color:#cccccc;
    border-bottom-width: 1px;
}

#main {
    height: 100%;
    background-image: url("assets/images/triangle-mosaic.png");

}

#footer {
    background-color: #666666;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: #cccccc;
    text-align: center;
}

.centralized-box {
    width: 960px;
    height: 100%;
    margin: 0 auto;

}
#name {
    width: fit-content;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;
    padding: 16.5px;
    float: left;
}
.nav {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    float: right; 
    padding: 20px;   
}
#bio {
    background-color: white;
    border: 1px solid #dddddd; 
    padding: 16.5px;
    height: 100%;
    margin: 30px 0px 100px 0px;

}
#portfolio {
    background-color: white;
    border: 1px solid #dddddd; 
    padding: 16px;
    overflow: auto;
    width: 926px;
    margin: 30px 0px 100px 0px;

}
#title{
    width: 100%;
    background-color: white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-color:#dddddd;
    border-bottom-width: 2px;
    padding-bottom: 10px;
}
p{
    font-family:Arial, Helvetica, sans-serif; 
    color: #777777;
    font-size: small;
    line-height: 2;
}
img{
    float: left;
    padding: 0px 10px 10px 0px;
}
body{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-image: url("../images/triangle-mosaic.png");
}    
a:link {
    color: #777777;
    text-decoration: none;
  }

  a:visited {
    color: #777777;
    text-decoration: none;
  }

  a:hover {
    color: #777777;
    text-decoration: none;
  }

  a:active {
    color: #777777;
    text-decoration: none;
  }

  #cname{
    width: 100%;
  }

  #cemail{
    width: 100%;
  }

  #cmessage{
    width: 100%;
    height: 100px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    margin: 0px;
    cursor: pointer;
    align: left;
  }