
p{
    font-family:Arial, Helvetica, sans-serif; 
    color: #777777;
    font-size: small;
    line-height: 2;
}
img{
    float: left;
    padding: 0px 10px 15px 0px;

}body{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-image: url("../images/triangle-mosaic.png");
}    
a:link {
    color: #777777;
    text-decoration: none;
  }

  a:visited {
    color: #777777;
    text-decoration: none;
  }

  a:hover {
    color: #777777;
    text-decoration: none;
  }

  a:active {
    color: #777777;
    text-decoration: none;
  }

  .name {
    flex-flow: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}

.navbar-collapse.collapse {
    display: block!important;
}

.nav-link {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;

}
.footer {
    font-size: xx-small;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 50px;
    background-color: #666666;
    height: 50px;
    border-top: 8px solid #4aaaa5;

}


.jumbotron {
    max-width: 960px;
    background-color: white;
    border: 1px solid #dddddd; 
    padding: 16.5px;
    height: 100%;
    margin: 25px auto 100px auto;
}
.title{
    width: 100%;
    background-color: white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    color: #4aaaa5;
    border-bottom-style: solid;
    border-color:#dddddd;
    border-bottom-width: 2px;
    padding-bottom: 10px;

}
    